.dockerignore
.git
.github
.gitignore
*/temp*
*/*/temp*
docker
.vagrant
.data
.idea


.venv
venv
users_data.json
start_uvicorn
sinuous-grove-405612-a7d9d516c960.json
tests
.vscode
__pycache__
gunicorn.service
nginx
